<div id="book_nav">
    <div class="book-nav-container">
      {% for p in first_page %}
      <div class="first book-nav-item">
        <a href="{{ url_for('comic_page', _anchor='content', name=p.path.replace('comics/', '')) }}"> first</a>
      </div>
      {% else %}
      {% endfor %}
      {% for p in previous_page if current_book==p.book %}
      <div class="back book-nav-item">
        <a id="back" href="{{ url_for('comic_page', _anchor='content', name=p.path.replace('comics/', '')) }}"> back</a>
      </div>
      {% else %}
      {% for p in front_page %}
      <div class="back book-nav-item">
        <a id="back" href="{{ url_for('comic_page', _anchor='content', name=p.path.replace('comics/', '')) }}"> back</a>
      </div>
      {% endfor %}
      {% endfor %}

      {% for p in next_page if current_book==p.book %}
      <div class="next book-nav-item">
        <a id="next" href="{{ url_for('comic_page', _anchor='content', name=p.path.replace('comics/', '')) }}"> next</a>
      </div>
      {% else %}
      {% for p in front_page %}
      <div class="next first book-nav-item">
        <a id="next" href="{{ url_for('comic_page', _anchor='content', name=p.path.replace('comics/', '')) }}"> next</a>
      </div>
      {% endfor %}
      {% endfor %}

      {% for p in last_page if current_book==p.book %}
      <div class="latest book-nav-item">
        <a href="{{ url_for('comic_page', _anchor='content', name=p.path.replace('comics/', '')) }}"> latest</a>
      </div>
      {% else %}
      {% endfor %}
  </div>
</div>
