@charset "utf-8";
@font-face {
  font-family: 'sourceSanslight';
      src:url('/static/fonts/sourceSans/SourceSansPro-Light.otf') format('otf'),
      url('/static/fonts/sourceSans/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@charset "utf-8";
@font-face {
  font-family: 'sourceSanslightit';
      src:url('/static/fonts/sourceSans/SourceSansPro-LightIt.otf') format('otf'),
      url('/static/fonts/sourceSans/SourceSansPro-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@charset "utf-8";
@font-face {
  font-family: 'sourceSansxlight';
      src:url('/static/fonts/sourceSans/SourceSansPro-ExtraLight.otf') format('otf'),
      url('/static/fonts/sourceSans/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

a {
    text-decoration: none;
    color: #757575;
}

a:hover{
  font-family: 'sourceSansxlight';
  text-decoration: blink;
}

a:active{
  font-family: 'sourceSansxlight';
}

body {
    font-size: 1.2em;
    font-family: 'sourceSanslight', serif;
    line-height: 1.5;
    background-image: url('/static/images/retina_wood.png');
    margin: 0px;
}

header {
}

footer {
    min-height: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 20px solid #0d80a3;
    text-align: center;
}

#header {
  width: 100%;
}

.header{
  display: inline-block;
  width: 50%;
}

.headerimg{
    border: 5px dashed #757575;
    border-radius: 10px;
    max-width: 100%;
}

.thumbnail{
  width: 20%;
  display:inline-block;
  overflow:hidden;
  margin-left: 20%;
  max-height: 250px;

}

.thumbnailimg  {
    width: 100%;
  }

#site_nav {
}

#site_nav ul {
    min-width: 80%;
    display: block;
    text-align: center;
}

#site_nav a{
    font-size: 1.5em;
    text-align: center;
    min-width: 15%;
    display: inline-block;
}

#content {
  background-image: url('/static/images/lined_paper.png');
  padding-top: 1%;
  padding-bottom: 5%;
}

#comic {
    width: 100%;
}

#comic img{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#book_nav {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#book_nav .first, .back, .next, .latest{
    max-width: 25%;
    min-width: 20%;
    display: inline-block;
    box-sizing: border-box;
    border: 4px dotted #757575;
    border-radius: 5px;
}

#book_nav, #page_title, .book_nav .first, .back, .next, .latest {
    text-align: center;
}

#single_page {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#book_page {
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#news_blurb {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px dashed #757575;
    border-radius: 10px;
    margin-top: 3%;
    padding: 10px;
}

#news_blurb.odd {
}

#news_blurb.even {
  background-color: rgba(117, 117, 117, 0.5);
}
