@charset "utf-8";
@font-face {
  font-family: 'sourceSanslight';
      src:url('/static/fonts/sourceSans/SourceSansPro-Light.otf') format('otf'),
      url('/static/fonts/sourceSans/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@charset "utf-8";
@font-face {
  font-family: 'sourceSanslightit';
      src:url('/static/fonts/sourceSans/SourceSansPro-LightIt.otf') format('otf'),
      url('/static/fonts/sourceSans/SourceSansPro-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@charset "utf-8";
@font-face {
  font-family: 'sourceSansxlight';
      src:url('/static/fonts/sourceSans/SourceSansPro-ExtraLight.otf') format('otf'),
      url('/static/fonts/sourceSans/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

a {
    text-decoration: none;
    color: #757575;
}

a :hover{
  font-family: 'sourceSansxlight';
}

a :active{
  font-family: 'sourceSansxlight';
}

body {
    font-size: 1.2em;
    font-family: 'sourceSanslight', serif;
    line-height: 1.5;
    background-image: url('/static/images/retina_wood.png');
    margin: 0px;
}

header {
    margin: auto;
    max-width:100%;
}

header img{
    border: 5px dashed #757575;
    border-radius: 10px;
    max-width: 100%;
    display: block;
}

footer {
    min-height: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 20px solid #0d80a3;
    text-align: center;
}

#site_nav {
    box-sizing: border-box;
    min-width: 100%;
}

#site_nav ul {
    min-width: 100%;
    display: inline-block;
}

#site_nav a{
    font-size: 1.3em;
    text-align: center;
    min-width: 15%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#content {
  background-image: url('/static/images/lined_paper.png');
}

#comic {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#comic img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#book_nav {
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#book_nav .first, .back, .next, .latest{
  max-width: 25%;
  min-width: 20%;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: -20%;
  border: 4px dotted #757575;
  border-radius: 5px;

}

#book_nav .first, .back, .next, .latest, a {
  text-align: center;
}

#page_title, h2{
    text-align: center;
}

#single_page {
    padding: 5%;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
