<ul class="main-menu-container">
  <a class="main-menu-item" href="{{ url_for('.index') }}">Home</a>
  <a class="main-menu-item" href="{{ url_for('.books') }}">Books</a>
  <a class="main-menu-item" href="{{ url_for('.news') }}">News</a>
  <a class="main-menu-item" href="{{ url_for('.gallery') }}">Gallery</a>
  {% for p in main_menu %}
  {% if p.page_type == 'book' %}
    <a class="main-menu-item" href="{{ url_for('.comic_page', _anchor='content', book=p.book.title, name=p.path.replace(config.BOOK_DIR+'/', '')) }}">{{ p.title }}</a>
  {% elif p.page_type == 'news' %}
    <a class="main-menu-item" href="{{ url_for('.news_page', name=p.path.replace('news/', '')) }}">{{ p.title }}</a>
  {% elif p.page_type == 'single' %}
    <a class="main-menu-item" href="{{ url_for('.single_page', name=p.path.replace(config.PAGE_DIR+'/', '')) }}"> {{ p.title }} </a>
  {% endif %}
  {% endfor %}
</ul>
