<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ config.SITE_NAME }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
</head>
  <body>
  <header>
      <h1><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"/> </a></h1>
  </header>
  <nav id="site_nav">
      {% include '_menu.html' %}
  </nav>
  <div id="content">
  {% block content %}
      <p> default content to be displayed</p>
  {% endblock content %}
  </div>
  <footer>
      <p> <a href="https://github.com/chipperdoodles/comicr"> Comicr can be found on github</a> </p>
  </footer>
  </body>
</html>
