<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>comicr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
</head>
<header>
    <h2><a href="{{ url_for('index') }}"> {{ config.SITE_NAME }} </h2>
</header>
<nav id="site_nav">
    <ul>
        <a href="{{ url_for('books') }}"> Books </a>
        <a href="{{ url_for('single_page', name='about') }}"> about</a>
        <a href="{{ url_for('single_page', name='contact') }}"> contact</a>
    </ul>
</nav>
<body>
<div id="content">
{% block content %}
    <p> default content to be displayed</p>
{% endblock content %}
</div>
<footer>
    footer
</footer>
</body>
</html>
